.logo {
    margin-left: 500px;
}
.div1 { 
    width: 1209px;
    height: 64px;
    padding-right: 2px;
    background-color: #eeeeee;
    margin-left: 70px;
    margin-top: -18px;
    
    
}
.search{
    margin-left: 508px;
    font-size: 16px;
    margin-bottom: 0px;
   

}
.input {
    box-sizing: border-box;
    margin-left: 447px;
    width: 318px;
    margin-bottom: 0px;
    padding-right: -3px;
    
    
}
.input2 {
    margin-left: 495px;
    width:92px;
    height: 17px;
    padding-left: 8px;
    padding-right: 3px; 
    background-color: #eeeeee;
    border-width: 1px;
    border-radius: 3px;
}
.input3 {
    margin-left: 0px;
    width:95px;
    height: 17px;
    padding-left: 8px;
    padding-right: 6px;
    background-color: #eeeeee;
    border-width: 1px;
    border-radius: 3px;
    
    
    

}
.div2 {
    width: 276px;
    height: 76px;
    margin-left: 70px;    
    padding-left: 170px;
    margin-top: -16px;
    
    
    background-color: #7ee5da;
    
} 

a {
    color:#0000ea;
}
ul {
    list-style-type: none;
}
.li1 { 
    margin-left: -41px;
    padding-top: 11px;
    
}
.li2 {
    margin-left: -38.5px;
   
}
.li3 {
    margin-left: -30px;
   
}
.div3 {
    background-color: #70ccc2;
    width: 236px;
    height: 76px;
    margin-left: 518px;
    margin-top: -92px;
    


}

.li4 { font-size: 13px;
       margin-left: 63px;
       padding-top: 5px;

}
.li5 {font-size: 13px;
    margin-left: 39px;

}
.li6 {
    font-size: 13px;
    margin-left: 41px;
    
}
.li7 {
    font-size: 13px;
    margin-left: 39px;
}
.div4 {
    width: 325px;
    height: 76px;
    padding-left: 200px;
    
    margin-left: 756px;
    margin-top: -92px;
  
    background-color: #62b3aa;

}
.li8 {
   
    font-size: 13px;
    margin-left: -10px;
}
.li9 {
 
    font-size: 13px;
    margin-left: -23px;
    margin-top:0px;
    margin-bottom: -16px;
  
}
.input4 {
   
    margin-left: -26px;
}
.input5 {
    width: 64px;
   margin-top: 0px;
   margin-left: -4px;
   padding-left: 7px;
   padding-right: -5px;

}
.li10 {
    font-size: 13px;
    margin-top: -33px;
    margin-left: 45px;
}
.p {
    margin-left: 597px;
    margin-top: 18px;
    font-size: 13px;
    
}